@page
@model CursosOnline.Pages_Students.CreateModel

@{
    ViewData["Title"] = "Dev Cursos | Adicionar aluno";
}

<h1>Cadastrar aluno</h1>

<h4>Informe os dados abaixo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-light"></div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Cellphone" class="control-label"></label>
                <input asp-for="Student.Cellphone" class="form-control" />
            </div><br>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-outline-light" asp-page="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

